body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display:flex;
    flex-direction: column;
    
}

.headerbox{
    min-width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.header{
    justify-content: space-between;
    min-width: 1000px;
    
}

.header,
.header2{
    background-color: #1f2937;
    display: flex;
}


.header2{
    flex-wrap: wrap;
    padding-right: 0%;
    margin-right: 0%;
justify-content: center;
}
 
.header2-1{
    display: flex;
    
    
}

.header2-2{
    display: flex;
}

.BigT{
    font-size: 48px;
    color: #f9faf8;
    font-weight:900;
    max-width: 500px;
}

.SmallT,
.SmallT2 {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 500px;
    }
.SmallT2{
   padding: 20px;
   padding-top: 60px;
}

button,
.action{
    background-color: #3882F6;
    color: #ffffff;
    border-radius: 10px;
}

button{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

img{
    border-radius: 10px;
}

.Midimg{
    border: 5px solid #3882F6;
}

.Middlebox{
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.Middlebody{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: min-content;
}

.middleheader{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;  
}

.middleImg{
    display: flex;
    gap: 2em;
    text-align: center;
}

.quote{
    background-color: #E5E7EB;
    padding: 80px;
    text-align: end;
}

.quotet{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.header{
    display: flex;
    justify-content: space-between;
}

.actionbox{
    padding: 40px;
    display: flex;
    justify-content: center;
    padding: 60px;
}

.action{
    display: flex;
    justify-content: center;
    padding: 20px;
    min-width: 900px;
    gap: 6em;
    

}

.actiontext{
    gap: 0em;
    color: #ffffff;
}
.BottomSignUp{
    align-content: center; 
}
.BottomSignUpB{
    border: 2px solid #ffffff;
}
.footerbox{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #1f2937;
    color: #ffffff;
}

h4{
    font-weight: 900;
}